body{
    background-color: black;
    color: aliceblue;
}
div{
    width: 50%;
    margin-left: 25%;
    margin-top: 100px;
}
h1{
    text-align: center;
    font-size: 35px;
    margin: 10px 0px;
    font-family: "Libre Baskerville", sans-serif;
    text-transform: uppercase;
}
p{
    text-align: center;
    margin: 10px 0px;
}
img{
    width: 100%;
    height: 400px;
    border: 5px solid white;
    padding: 2px;
}
