body{
    background-color: black;
}
.text{
    color: whitesmoke;
}
div{
    width: 50%;
    margin-left: 33.3%;
}
img{
    width: 450px;
    height: 350px;
    padding: 3px;
    border: 5px solid white;
}
h1{
    margin: 10px 40px 10px 0px;
    text-transform:uppercase;
    font-weight: 800;
}
p{
    margin: 0px 0px 0px 30px;
    size: 8px;
}